{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2020",
    "baseUrl": "./src",
    "paths": {
      "@controllers/*": ["./controllers/*"],
      "@fixtures/*": ["./fixtures/*"],
      "@middlwares/*": ["./middlwares/*"],
      "@routes/*": ["./routes/*"],
      "@services/*": ["./services/*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
